**Dictionary allows to store key,value pairs. For example you want to represent cricket team names with their captain names. For this you can use dictionary**

In [22]:
captains = {
    'india': 'virat',
    'pakistan': 'sarfaraz',
    'sri lanka': 'dimuth',
}

In [23]:
type(captains)

dict

In [24]:
captains['india']

'virat'

In [25]:
captains['pakistan']

'sarfaraz'

In [26]:
captains.keys()

dict_keys(['india', 'pakistan', 'sri lanka'])

In [27]:
captains.values()

dict_values(['virat', 'sarfaraz', 'dimuth'])

**Dictionary is basically a hashmap data structure. It is also called unordered map or hashtable**

**Add new key value pair**

In [28]:
captains['england']='root'
captains

{'india': 'virat',
 'pakistan': 'sarfaraz',
 'sri lanka': 'dimuth',
 'england': 'root'}

In [29]:
del captains['england']
captains

{'india': 'virat', 'pakistan': 'sarfaraz', 'sri lanka': 'dimuth'}

In [30]:
captains['england']='root'
captains

{'india': 'virat',
 'pakistan': 'sarfaraz',
 'sri lanka': 'dimuth',
 'england': 'root'}

**Iterate through dictionary**

In [31]:
for team in captains:
    print(team)

india
pakistan
sri lanka
england

In [32]:
for team in captains:
    print(team,"==>",captains[team])

india ==> virat
pakistan ==> sarfaraz
sri lanka ==> dimuth
england ==> root

In [33]:
for team, captain in captains.items():
    print(team,"==>",captain)

india ==> virat
pakistan ==> sarfaraz
sri lanka ==> dimuth
england ==> root

**in operator and clear**

In [34]:
'india' in captains

True

In [35]:
'australia' in captains

False

In [36]:
captains.clear()
captains

{}

**Build dictionary on fly**

In [37]:
e={}
e['age']=35
e['name']='dhaval'
e['id']=123
e

{'age': 35, 'name': 'dhaval', 'id': 123}

**Tuples**

How do you represent point in 2D space

In [38]:
point=(4,10)
type(point)

tuple

Point in 3D space

In [39]:
point=(4,10, 20)
type(point)

tuple

In [40]:
point[0]

4

In [41]:
point[1]

10

**Tuple is immutable**

In [42]:
point = [42, 56, 78]  # Example list
point[1] = 67
print(point)

[42, 67, 78]

**Tuple to return multiple values from a function**

In [43]:
def add_multiply(a,b):
    total = a+b
    m = a*b
    return total, m

In [44]:
s, m = add_multiply(4,5)

In [45]:
s

9

In [46]:
m

20