<h2 style="color:purple" align="center">Python Variables Tutorial</h2>

In [13]:
rent=8000
petrol=500.5
groceries=2050.5

In [14]:
print(rent)

8000

In [15]:
total=rent+petrol+groceries
print(total)

10551.0

In [16]:
gabbar="amjad khan"
jay="amitabh"
thakur="sanjiv kumar"

In [17]:
print("actors in sholey: ",gabbar,jay,thakur)

actors in sholey:  amjad khan amitabh sanjiv kumar

In [18]:
print(type(rent))

<class 'int'>

In [19]:
print(type(groceries))

<class 'float'>

In [20]:
print(type(gabbar))

<class 'str'>

In [21]:
learn_python=True
learn_fortran=False

In [22]:
print(type(learn_python))

<class 'bool'>

In [23]:
# variable naming rules

In [24]:
T=5

In [25]:
foobar=5

In [26]:
you=6

In [27]:
hi=5

In [28]:
foobar="hello"

In [29]:
# variable names are case sensitive

In [30]:
bade_bhai=10

In [31]:
bade_Bhai=5

In [32]:
bade_bhai

10

In [33]:
bade_Bhai

5

In [34]:
foo=5

In [35]:
foo="jalebi"

In [36]:
bar=foo

In [37]:
id(bar)

2303005563440

In [38]:
id(foo)

2303005563440

In [39]:
bar="samosa"

In [40]:
foo="kachodi"

**Exercise**

**1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see**

**2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables**

**3. Store your first, middle and last name in three different variables and then print your full name using these variables**

**4. Answer which of these are invalid variable names: "__nation, 1record, record1, record_one, record-one, record^one, continue"**

[Solution](http://localhost:8888/notebooks/Hindi/1_Variables/Exercise/1_variables_exercise.ipynb)