**String Introduction**

In [129]:
food='samosa'

**Index Operator**

In [130]:
food[0]

's'

In [131]:
food[-1]

'a'

**String Slicing**

In [132]:
food[0:2]

'sa'

In [133]:
food[:2]

'sa'

In [134]:
food[-3:-1]

'os'

In [135]:
food[-3:]

'osa'

**len function**

In [136]:
len(food)

6

**in operator**

In [137]:
myfood='samosa,jalebi'

In [138]:
'samosa' in myfood

True

In [139]:
'biryani' in myfood

False

In [140]:
'biryani' not in myfood

True

In [141]:
myfood='0'

**replace function**

In [142]:
myfood.replace('samosa','biryani')

'0'

In [143]:
myfood

'0'

In [144]:
myfood=myfood.replace('samosa','biryani')
myfood

'0'

**upper and lower function**

In [145]:
myfood.upper()

'0'

In [146]:
'ABC'.lower()

'abc'

In [147]:
dir(myfood)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**isdigit and index function**

In [148]:
s='145'
s.isdigit()

True

In [149]:
'145a'.isdigit()

False

In [150]:
myfood

'0'

In [151]:
myfood = ['pizza', 'burger', 'sushi', 'jalebi', 'sushi']

# Find the index of 'jalebi'
index = myfood.index('jalebi')

print("Index of 'jalebi':", index)

Index of 'jalebi': 3

In [152]:
states = 29
text = 'total states in india: ' + str(states)
print(text)

total states in india: 29

**str function**

In [153]:
text+str(states)

'total states in india: 2929'

**quote or double quote inside the string**

In [154]:
text = "let's learn python"

In [155]:
text="let's learn python"
text

"let's learn python"

In [156]:
text='let\'s learn python'
text

"let's learn python"

**multiline string using triple quotes**

In [157]:
dialog = '''kitne aadami the?
sardar: do'''

In [158]:
dialog='''kitne aadami the?
sardar: do'''

In [159]:
dialog

'kitne aadami the?\nsardar: do'

**Special characters : newline and tab**

In [160]:
s='hey\nbro'
print(s)

hey
bro

In [161]:
s='hey\tbro'
print(s)

hey	bro

In [162]:
first='sachin'
last='tendulkar'
print('The best cricket player:',first + ' ' + last)

The best cricket player: sachin tendulkar

**Python 3.6 f-string**

In [163]:
print(f'The best cricket player {first} {last}')

The best cricket player sachin tendulkar